# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
dist/
lib/
include/
node_modules/

# Environments
.env
.venv
venv/

# Local testing and notes
config
config/
config.yaml
govee2mqtt.dat
npm-debug.log
NOTES
coverage/
dist/

# Apple
.DS_Store
