mqtt:
  host: 10.10.10.1
  port: 1883
  qos: 0
  username: ""
  password: ""
  prefix: govee2mqtt
  homeassistant: True
  discovery_prefix: homeassistant

govee:
  api_key: xxxxx-xxx-xxxxxx
  device_interval: 30
  device_boost_interval: 2
  device_list_interval: 300

debug: False
timezone: America/New_York
