mqtt:
  host: 10.10.10.1
  port: 1883
  qos: 0
  username: ""
  password: ""
  prefix: govee2mqtt
  discovery_prefix: homeassistant
  tls_enabled: False
  tls_ca_cert: filename
  tls_cert: filename
  tls_key: filename

govee:
  api_key: xxxxx-xxx-xxxxxx
  device_interval: 30
  device_boost_interval: 2
  device_list_interval: 300

timezone: America/New_York
