attrs
certifi
charset-normalizer
coverage
idna
iniconfig
jsonschema
jsonschema-specifications
packaging
paho-mqtt
pluggy
Pygments
pytest
pytest-cov
PyYAML
referencing
requests
rpds-py
urllib3
pytest-asyncio
